@import "../../public/css/vars.scss";

main {
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	text-align: center;
	display: flex;
	flex-direction: column;
}

nav.navbar-custom {
	background-color: $primary-colour;
	color: #ffffff;
	border-radius: 0px;
	margin: 0px;
}

div.fill {
	margin: 0px;
	padding: 0px;
	flex: 1;
}