.inline-form button {
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: solid 1px #cccccc;
}

.inline-form button:hover {
	border: 0;
	box-shadow: none;
	border-left: solid 1px #cccccc;
}