<h1>Messages</h1>

<div class="card" *ngFor="let message of messages;">
	<div class="card-block chat" [ngClass]="{self: message.sender == this.authenticationService.getUsername(), other: message.sender != this.authenticationService.getUsername()}">{{message.message}}</div>
	
	<!--<span class="sender">{{message.sender}}> </span>
	<span class="date"> ({{message.date}})</span>-->
</div>

<form class="form-inline" (ngSubmit)="onSubmit()">
	<input class="form-control" type="text" name="message" [(ngModel)]="message.message" required/>
	<input class="btn btn-info" type="submit" value="Send"/>
</form>