<h1>Search</h1>

<!-- Search box to enter username -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="custom-search-input">
				<div class="input-group col-md-12">
					<input type="text" class="form-control input-lg" placeholder="Search by username" name="searchInput"/>
					<span class="input-group-btn">
						<button class="btn btn-info btn-lg" type="submit" name="searchSubmit">
							<i class="fa fa-fw fa-search"></i>
						</button>
                    </span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- List of users who match the search quesry -->