<div class="wrapper">
	<h2 class="info-message" [hidden]="isMessageHidden()">Start a conversation</h2>
	
	<div class="table-row">
		<div class="messages table-cell">
			<div class="messages-inner" infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="500" [scrollWindow]="false" (scrolledUp)="onScrollUp()" #messagesDiv>
				<!-- Display each message in a chat box -->
				<div class="card" *ngFor="let message of messages;">
					<div class="card-block chat" [ngClass]="{self: message.sender == this.authenticationService.getUsername(), other: message.sender != this.authenticationService.getUsername()}">
						{{message.message}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Message form -->
	<div class="table-row">
		<div class="table-cell">
			<!-- Set autocomplete to off so values aren't cached -->
			<form id="custom-send-input" (ngSubmit)="onSubmit()" autocomplete="off">
				<div class="input-group col-md-12">
					<input type="text" class="form-control input-lg"  name="message" [(ngModel)]="message.message" placeholder="Write your message" required/>

					<!-- Send button -->
					<span class="input-group-btn">
						<button class="btn btn-info btn-lg" type="submit" name="sendSubmit">
							<i class="fa fa-fw fa-send"></i>
						</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>