@import "../../../../public/css/lists.scss";
@import "../../../../public/css/messages.scss";
@import "../../../../public/css/inline.scss";

span.contact-name {
	font-size: 20px;
	width: 100%;
	text-align: left;
	cursor: pointer;
}