<div class="container">
	<h2 class="info-message" [hidden]="isMessageHidden">Sorry, no contacts found</h2>
	
	<!-- List of users who match the search query -->
	<div class="card list">
		<ul class="list-group">
			<li class="list-group-item inline-form" *ngFor="let contact of contacts;">
				<div class="input-group col-md-12">
					<span class="pull-left contact-name" (click)="onClickContact(contact.channel)">{{contact.contact}}</span>
					
					
					<!-- Remove contact button -->
					<span class="input-group-btn">
						<button class="btn btn-info btn-lg" type="submit" name="removeContact" (click)="onClickRemoveContact(contact)">
							<i class="fa fa-fw fa-minus"></i>
						</button>
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>