<!-- This form was adapted from http://bootsnipp.com/snippets/D25A4 -->

<!-- Add the 'active' class to the container if the onLogin variable is set to true -->
<div class="container" [ngClass]="{active: !onLoginForm}">
	<div class="row">

		<div class="card"></div>

		<div class="card">
			<h1 class="title">Login</h1>
			<form (ngSubmit)="onLogin()">
				<div class="input-container">
					<input type="text" name="loginUsername" id="loginUsername" [(ngModel)]="loginForm.username" required="required"/>
					<label for="loginUsername">Username</label>
					<div class="bar"></div>
				</div>

				<div class="input-container">
					<input type="password" name="loginPassword" id="loginPassword" [(ngModel)]="loginForm.password" required="required"/>
					<label for="loginPassword">Password</label>
					<div class="bar"></div>
				</div>
				
				<!-- Remember me -->
				<div class="checkbox">
					<label>
						<input type="checkbox" name="loginCheckbox" [(ngModel)]="loginForm.rememberMe">
						<span class="cr"><i class="cr-icon">&#10004;</i></span>
						Remember me
					</label>
				</div>
				
				<div name="loginErrorMessage" class="error" [hidden]="loginForm.hasErrorMessage()" [innerHtml]="loginForm.errorMessage"></div>
				
				<div class="button-container">
					<button>
						<span>Go</span>
					</button>
				</div>

				<!--<div class="footer">Welcome back!</div>-->
				<div class="footer">No account? <a (click)="toggleForm(false)">Sign up</a>, it's free.</div>
			</form>
		</div>

		<div class="card alt">
			<h1 class="title">Sign Up
				<!-- Call the toggle() when clicked -->
				<div class="close" (click)="toggleForm(true)"></div>
			</h1>

			<form (ngSubmit)="onSignup()">
				<div class="input-container">
					<input type="text" name="signUpUsername" id="signupUsername" [(ngModel)]="signUpForm.username" required="required"/>
					<label for="signupUsername">Username</label>
					<div class="bar"></div>
				</div>
				
				<div class="input-container">
					<input type="password" name="signUpPassword" id="signupPassword" [(ngModel)]="signUpForm.password" required="required"/>
					<label for="signupPassword">Password</label>
					<div class="bar"></div>
				</div>
				
				<div class="input-container">
					<input type="password" name="signUpConfirmPassword" id="signupConfirmPassword" [(ngModel)]="signUpForm.confirmPassword" required="required"/>
					<label for="signupConfirmPassword">Confirm Password</label>
					<div class="bar"></div>
				</div>
				
				<div name="signUpErrorMessage" class="error" [hidden]="signUpForm.hasErrorMessage()" [innerHtml]="signUpForm.errorMessage"></div>
				
				<div class="button-container">
					<button type="submit">
						<span>Ready!</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>