@import "../../../../public/css/lists.scss";
@import "../../../../public/css/messages.scss";
@import "../../../../public/css/inline.scss";

/* Search box */
#custom-search-input {
	padding: 3px;
	border: solid 1px #e4e4e4;
	border-radius: 0px;
	background-color: #ffffff;
	margin-top: 20px;
}

#custom-search-input input {
	border: 0;
	box-shadow: none;
}